body {
	background-color: black;
	color: white;
	text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Centers items on the line (the x-axis by default)*/
    align-items: center; /* Centers items on the cross-axis (y by default)*/
    padding: 0px; /* Needed for scroll */
    margin: 0px;
}

.main {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 512px;
}

.avi {
	display: flex;
	position: relative;
	padding: 16px;
    justify-content: center; /* Centers items on the line (the x-axis by default)*/
    align-items: center; /* Centers items on the cross-axis (y by default)*/
}

.me {
	border-radius: 50%;
	border: 4px solid gray;
}

.over {
	bottom: 16px;
	left: 400px;
	position: absolute;
}

.bubb {
}

.msg {
	color: black;
	font-family: "Axis";
	font-size: 32px;
	position: absolute;
	top: 100px;
}

.name {
	font-family: "Axis";
	font-size: 40px;
	padding: 16px;
}

.logos {	
	padding: 64px;
	padding-top: 16px;
}
