@media screen and (min-width: 600px) {
	body {
		background-color: #101010;
		color: white;
		/*text-align: center;*/
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    display: flex;
	    justify-content: center; /* Centers items on the line (the x-axis by default)*/
	    align-items: center; /* Centers items on the cross-axis (y by default)*/
	    padding: 0px; /* Needed for scroll */
	    margin: 0px;
	}

	a {
	    /*text-decoration: none;*/
	   /*-moz-user-select: -moz-none;
	   -khtml-user-select: none;
	   -webkit-user-select: none;
	   -ms-user-select: none;
	   user-select: none;*/
	}

	img {
		height: 120px;
		width: 120px;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -o-user-select: none;
	    user-select: none;
	}

	.over {
		/*bottom: 20px;*/
		/*left: 180px;*/
		bottom: 20px;
		left: 384px;
		height: 200px;
		width: 400px;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#bubb {
		width: 280px;
		position: absolute;
	}

	#msg {
		color: white;
		font-family: "Axis";
		font-size: 32px;
		position: absolute;
	    justify-content: center; /* Centers items on the line (the x-axis by default)*/
	    align-items: center; /* Centers items on the cross-axis (y by default)*/
	}

	.header {
	    position: absolute;
	    display: flex;
	    flex-direction: column;
	    top: 40px;
	}

	.main {
	    position: absolute;
	    display: flex;
	    flex-direction: column;
	    height: 512px;
	}

	.avi {
		display: flex;
		position: relative;
		padding: 8px;
	    justify-content: center; /* Centers items on the line (the x-axis by default)*/
	    align-items: center; /* Centers items on the cross-axis (y by default)*/
	}

	#me {
		border-radius: 50%;
		border: 5px solid #606060;
	}

	.name {
		text-align: center;
		font-family: "Axis Bold";
		font-size: 36px;
	}

	.desc {
		font-family: "Axis";
		font-size: 28px;
		padding: 4px;
	}

	.border {
		/*width: 720px;*/
		border-top: 4px #606060 dashed;
		margin: 24px;
	}

	.btns {	
		padding: 64px;
		padding-top: 32px;
	}

	.icon {
		height: 64px;
		width: 64px;
		border-radius: 50%;
		border: 3px solid #606060;
		/*margin-right: 20px;*/
		/*margin-left: 20px;*/
	}

	.icon:hover {
		border: 3px solid white;
	}

	.info {
		width: 640px;
		padding: 24px;
		font-family: "Axis";
	}

	.topic {
		text-align: left;
		font-family: "Axis Bold";
		font-size: 32px;
	}

	.plink {
		color: white;
	}

	.plink:hover {
		color: #606060;
	}

	.dlink {
		font-size: 20px;
		color: white;
		font-family: "Axis Bold";
	}

	.dlink:hover {
		color: #606060;
	}

	.github {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 44px;
		text-align: center;
	}

	#abt {
		color: white;
		margin-right: 10px;
		text-decoration: none;
	}

	#abt:hover {
		color: #606060;
	}
}