@media screen and (max-width: 600px) {
	body {
		background-color: #101010;
		color: white;
		text-align: center;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    display: flex;
	    justify-content: center; /* Centers items on the line (the x-axis by default)*/
	    align-items: center; /* Centers items on the cross-axis (y by default)*/
	    padding: 0px; /* Needed for scroll */
	    margin: 0px;
	}

	a {
	    text-decoration: none;
	   -moz-user-select: -moz-none;
	   -khtml-user-select: none;
	   -webkit-user-select: none;
	   -ms-user-select: none;
	   user-select: none;
	}

	img {
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -o-user-select: none;
	    user-select: none;
	}

	.main {
	    position: absolute;
	    display: flex;
	    flex-direction: column;
	    /*height: 512px;*/
	}

	.avi {
		display: flex;
		position: relative;
		padding: 4px;
	    justify-content: center; /* Centers items on the line (the x-axis by default)*/
	    align-items: center; /* Centers items on the cross-axis (y by default)*/
	}

	#me {
		height: 160px;
		width: 160px;
		border-radius: 50%;
		border: 5px solid #606060;
	}

	.over {
		bottom: 100px;
		left: 440px;
		height: 200px;
		width: 400px;
		position: absolute;
		display: none;
		align-items: center;
		justify-content: center;
	}

	#bubb {
		position: absolute;
	}

	#msg {
		color: white;
		font-family: "Axis";
		font-size: 32px;
		position: absolute;
	    justify-content: center; /* Centers items on the line (the x-axis by default)*/
	    align-items: center; /* Centers items on the cross-axis (y by default)*/
	}

	.name {
		font-family: "Axis Bold";
		font-size: 32px;
		padding-top: 4px;
	}

	.desc {
		font-family: "Axis";
		font-size: 16px;
		padding: 8px;
	}

	.btns {	
		/*padding: 64px;*/
		padding-top: 16px;
	}

	.icon {
		height: 64px;
		width: 64px;
		border-radius: 50%;
		border: 5px solid #606060;
		margin-right: 8px;
		margin-left: 8px;
	}

	.icon:hover {
		border: 5px solid white;
	}
}