html {
  height: 100%;
  /*overflow: hidden;*/
}

body {
	background-image: url("background.png");
	background-repeat: no-repeat;
	display: flex;
	background-position: center 0;
  	background-attachment: fixed;
	justify-content: center;
	background-size: cover;
	height: 100%;
    min-height: 100%;
    margin: 0;
    z-index: -2;
}

.welcome {
	text-align: center;
	font-family: "Raleway";
	letter-spacing: 1px;
	color: #161616;
	padding-top: 8vh;
	padding-bottom: 8vh;
	user-select: none;
}

.main {
	width: 56vw;
	/*top: 15%;*/
	position: relative;
	display: table;
	min-height: 100%;
	background-color: rgba(211,207,200,.85);
}

.content a:link {
	font-weight: bold;
	color: #161616;
}

.content a:visited {
	color: #161616;
}

.content a:hover {
	color: #ad1814;
}

.content {
	font-family: "Raleway";
	padding: 0 50px 50px 50px;
	overflow-y: auto;
	line-height: 30px;
	font-size: 20px;
}

section {
	margin-bottom: 64px;
}

section div {
	padding-top: 25px;
	padding-bottom: 25px;
	justify-content: space-between;
	align-items: center;
}

i {
	color: #000000;
}

.quote {
	color: #323232;
}

.sprites > img {
	margin: 16px;
	height: 64px;
	width: 64px;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
}

.ice-cream {
	width: 100%;
	display: flex;
}

.ice-cream img {
	width: 16%;
	margin-right: 30px;
	margin-left: 30px;
	height: 100%;
}

#machine {
	width: 60%;
	height: 100%;
}

.aaff {
	display: flex;
	justify-content: center;
	align-items: center;
}

.aaff img {
	margin: 5%;
	width: 40%;
	height: 40%;
}

.jtaf-ui {
	display: flex;
	justify-content: center;
}

.jtaf-ui img {
	margin: 5%;
	height: 45%;
	width: 45%;
}

.camper-creator {
	display: flex;
	justify-content: center;
}

.sustain {
	display: flex;
	justify-content: center;
	position: relative;
}

.trash {
	position: absolute;
	bottom: -5%;
}

.trash img {
	width: 15%;
}

#wally {
	position: absolute;
	left: 0;
	top: 5%;
	width: 12%;
    -webkit-animation: nod .3s linear infinite;
    -moz-animation: nod .3s linear infinite;
    animation: nod .3s linear infinite;
}

@-moz-keyframes nod { 50% { -moz-transform: rotate(20deg); } 100% { -moz-transform: rotate(0deg); } }
@-webkit-keyframes nod { 50% { -webkit-transform: rotate(20deg); } 100% { -webkit-transform: rotate(0deg); } }
@keyframes nod { 50% { -webkit-transform: rotate(20deg); transform:rotate(20deg); } 100% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } }

#bins {
	width: 60%;
}

.first-name {
	font-family: "Lato";
	letter-spacing: 1px;
	color: #f5f0ea;
}

.last-name {
	font-family: "Lato";
	font-weight: bold;
	letter-spacing: 1px;
	color: #161616;
}

.welcome:hover a {
	/*color: #ad1814;*/
	text-shadow: 4px 4px 4px rgba(0,0,0,.15);
}

a {
	text-decoration: none;
}

#menuToggle
{
	display: block;
	position: fixed;
	top: 40px;
	left: 40px;

	z-index: 1;

	-webkit-user-select: none;
	user-select: none;
}

#menuToggle input
{
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;

	cursor: pointer;

	opacity: 0; /* hide this */
	z-index: 2; /* and place it over the hamburger */

	-webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
	display: block;
	width: 40px;
	height: 5px;
	margin-bottom: 6px;
	position: relative;

	background: #e2dcdc;
	border-radius: 3px;

	z-index: 1;

	transform-origin: 4px 0px;

	transition: transform 0.25s cubic-bezier(0.77,0.2,0.05,1.0),
	          background 0.25s cubic-bezier(0.77,0.2,0.05,1.0),
	          opacity 0.55s ease;
}

#menuToggle span:first-child
{
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
	transform-origin: 0% 100%;
}

/* 
 * Hamburger animation
 */
#menuToggle input:checked ~ span
{
	opacity: 0;
	transform: translate(0, 9px);
	/*transform: rotate(45deg) translate(-2px, -1px);*/
	background: #FAFF23;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
	opacity: 1;
	transform: rotate(0deg);
	background: #ad1814;
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
	opacity: 0;
	transform: translate(0, -9px);
	/*transform: rotate(-45deg) translate(0, -1px);*/
	background: #1D37B9;
}

#menu
{
	font-family: "Raleway";
	letter-spacing: 1px;

	position: fixed;
	width: 12%;
	/*width: 240px;*/
	height: 100%;
	top: 0;
	margin: -100px 0 0 -50px;
	padding: 50px;
	padding-top: 125px;

	background: rgba(35,35,35,.56);
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	/* to stop flickering of text in safari */

	transform-origin: 0% 0%;
	transform: translate(-100%, 0);

	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
	position: relative;
	top: 65px;
	padding: 17px 0;
	font-size: 22px;
}

#menu li a {
	font-size: 25px;
	color: #f5f0ea;
}

#menu li a:hover {
	color: #c4120d;

	transition: color 0.3s ease;
	text-shadow: 1px 1px 1px rgba(0,0,0,.15);
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

::selection {
	color: #f5f0ea;
	background: rgba(35,35,35,.56);
}
::-moz-selection {
	color: #f5f0ea;
	background: rgba(35,35,35,.56);
}

@media screen and (max-width: 860px) {
	.welcome {
		font-size: 60px;
	}
}

@media screen and (max-width: 700px) {
	.welcome {
		padding: 0 80px 0 80px;
	}

	#menu {
		width: 120px;
	}
}

@media screen and (min-width: 860px) {
	.welcome {
		font-size: 85px;
	}

	.monitor {
		background-repeat: no-repeat;
		display: flex;
		background-position: center 0;
	  	background-attachment: fixed;
		justify-content: center;
		background-size: cover;
		width: 100%;
		height: 100%;
	    min-height: 100%;
	    margin: 0;
	    z-index: -1;
	    position: fixed;
	}
}

@media screen and (max-width: 480px) {
	.main {
		width: auto;
	}
	.welcome {
		/*position: absolute;*/
		padding-top: 17vh;
		padding: 150px 50px 50px 50px;
		/*top: 17%;*/
	}

	#menuToggle	{
		display: block;
		position: absolute;
		top: 40px;
		left: auto;
		right: 40px;
	}

	#menu {
		margin: -100px 0 0 120px;
		width: 100%;
		transform: none;
		background: rgba(35,35,35,.84);
	}

	#menuToggle {
		right: 8vw;
	}

	#menuToggle input:checked ~ ul
	{
		transform: translate(-90%, 0);
	}

	.camper-creator img {
		height: 256px;
		width: 256px;
	}

	#barcode {
		width: 50%;
	}

	#wally {
		width: 20%;
	}
}
